/*=====================================================
[Table of Contents]

1. BASE
  1.1 Page Rendering Default
  1.2 Core Styling
  1.3 Typography

2. COMPONENTS
  2.1 Header
  2.2 Navigation
  2.3 Banner
  2.4 Company Intro
  2.5 Services
  2.6 Blog
  2.7 Portfolio
  2.8 Clients
  2.9 Footer

3. RESPONSIVE
  3.1 Mobile
  3.2 Tablet
  3.3 Desktop

=====================================================*/

/* 1. BASE */
/* 1.1 Page Rendering Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* No side scroll */
}
/* 1.2 Core Styling */
html {
  font-size: 16px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* GLOBAL LAYOUT CONTAINER */
.section__inner {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 24px;
}

:root {
  --green: #009578;
  --yellow: #f5b400;
  --red: #d7263d;
  --blue: #009fdf;
  --darkblue: #004e7c;
}

/* 1.3 Typography */
body {
  font-family: sans-serif;
}

/* 2. COMPONENTS */

/* ============================= */
/* 2.1 Header */
/* ============================= */
/* HEADER AREA */
.site-header {
  /*1st container*/
  /* background-color: lightblue; */
  width: 100%;
  display: flex; /*line children up*/
  /*default flex-direction: row*/
  /*horizontal alignment*/
  justify-content: center; /*push everything to middle side by side*/
}

.site-header__inner {
  /*2nd container*/
  /* background-color: lightpink; */
  width: 100%; /*fit to 1st container*/
  display: grid;
  grid-template-columns: auto 1fr; /*auto: 1st item fit to its content size, 1fr: stretch to fill rest of space*/
  align-items: center;
  max-width: 1024px; /*match banner*/
}

.site-header__logo {
  /*3rd container*/
  display: flex;
  /*vertical alignment*/
  align-items: center;
}

.site-header__logo img {
  width: 60%;
  /*fit 60% to its parent container --> which one? --> .logo*/
}

/* ============================= */
/* 2.2 Navigation */
/* ============================= */
.site-nav {
  /*3rd container*/
  /* background-color: lightgreen; */
  width: 100%;
}
.nav-list {
  /*unorderd list*/
  list-style: none;
  display: grid;
  /*create 5 equal columns*/
  /*ach column gets 1 fraction of available space (20% each)*/
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}

.nav-item {
  /*list items*/
  width: 100%;
}

.nav-link {
  /*links*/
  /* default display: inline(text width only)--> change to block */
  display: block;
  /* Start on a new line
  Stretch to 100% width of their parent */
  width: 100%;
  padding: 23px;
  text-align: center;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

/* Select the .nav-link that is inside
the first .nav-item */
.nav-item:nth-child(1) .nav-link {
  background-color: var(--green);
}
.nav-item:nth-child(2) .nav-link {
  background-color: var(--yellow);
}
.nav-item:nth-child(3) .nav-link {
  background-color: var(--red);
}
.nav-item:nth-child(4) .nav-link {
  background-color: var(--blue);
}
.nav-item:nth-child(5) .nav-link {
  background-color: var(--darkblue);
}

/* ============================= */
/* 2.3 Banner */
/* ============================= */

.section--banner {
  /*1st container*/
  background-color: lightblue;
  width: 100%;
  display: flex;
  justify-content: center;
}
.section--banner .section__inner {
  /*2nd container*/
  width: 100%;
  max-width: 1024px;
  position: relative;
  overflow: visible;
}

.banner-image {
  /*3rd container - image*/
  width: 100%;
  height: auto;
  display: block;
}

.banner-list {
  /*3rd container*/
  /* background-color: lightgreen; */
  width: 100%;
  top: 50%;
  left: 40px;
  gap: 12px;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.banner-item {
  /*list items*/
  background-color: white;
  color: #333;
  font-weight: bold;
  position: relative;
  width: max-content;
  padding: 12px 16px; /* padding-top and padding-bottom */
}

.banner-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-item:nth-child(1)::before {
  background-color: var(--darkblue);
}
.banner-item:nth-child(2)::before {
  background-color: var(--yellow);
}
.banner-item:nth-child(3)::before {
  background-color: var(--red);
}

.banner-arrow {
  position: absolute;
  background: white;
  color: #333;
  font-size: 28px;
  border: none;
  border-radius: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 100;
  transition: background 0.2s;
  transform: translateY(-50%);
}
.banner-arrow:hover {
  background: grey;
}
.banner-arrow-left {
  left: -26px;
}

.banner-arrow-right {
  right: -26px;
}

/* ============================= */
/* 2.4 Company Intro */
/* ============================= */
.section--intro {
  /*1st container*/
  /* background-color: lightblue; */
  display: grid;
  justify-content: center;
  padding: 48px 0; /*padding-top and padding-bottom*/
}
.section--intro .section__inner {
  /*2nd container*/
  /* background-color: lightpink; */
  max-width: 1024px;
  width: 100%;
  display: grid;
  justify-content: center;
}
.section--intro .section__text {
  /*3rd container*/
  /* background-color: lightgreen; */
  text-align: center;
}
.section--intro .section__title {
  /*h1*/
  line-height: 1.4;
  /* font-size: 28px; */
  max-width: 900px;
  margin: 0 auto;
}
.brand-name {
  /*span*/
  color: var(--blue);
}

/* =============================== */
/* 2.5 Services */
/* =============================== */
.section--features {
  /*1st container*/
  /* background-color: lightblue; */
  /* display: grid;
  justify-content: center; */
  padding: 48px 0; /*padding-top and padding-bottom*/
}
.section--features .section__inner {
  /*2nd container*/
  /* background-color: lightpink; */
  max-width: 1024px;
  width: 100%;
  /* display: grid; */
  /* justify-content: center; Feb 4th Hye */
}
.section--features .section__text {
  /*3rd container*/
  /* background-color: lightgreen; */
  text-align: center;
  margin-bottom: 32px;
}
.section--features .section__title {
  /*h1*/
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 6px;
}
.section--features .section__subtitle {
  /*p*/
  line-height: 1.4;
  font-size: 14px;
  color: #777;
}

.section--features .section__lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*create 4 equal columns*/
  max-width: 1024px;
  /* width: 100%; */
  gap: 32px;
}

.section--features .section__list {
  /*list items*/
  background-color: white;
  text-align: center;
  padding: 20px;
}

.service-icon {
  /* width: 60%;
  height: auto;
  margin-bottom: 16px; */
  width: 84px; /* fixed size */
  height: 84px;
  margin-bottom: 20px;
}

.service-title {
  font-weight: bold;
  margin-bottom: 12px;
}

.service-subtitle {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}
/* ===============================
/* 2.6 Blog */
/* =============================== */

.section__posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
} /*Feb 4th Hye*/

.section__post {
  position: relative;
  /* width: 320px; Feb 4th Hye*/
  overflow: hidden; /* hides anything that goes outside */
}
.blog-image {
  width: 100%;
  display: block;
}

/*blue rectangle, text overlay*/
.blog-text-group {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 12px 16px;

  background-color: var(--blue);
  color: white;
}

.blog-text-group::after {
  content: "";
  position: absolute;

  right: 16px;
  top: 50%;
  transform: translateY(-50%);

  width: 30px;
  height: 30px;

  background-color: var(--darkblue);
}

/*red date badge*/
.blog-date-group {
  position: absolute;
  top: 0.1px;
  left: 0.1px;

  background-color: var(--red);
  color: white;

  padding: 8px 12px;
  text-align: center;
  line-height: 1.1;
}

.blog-date {
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
}

.blog-month {
  font-size: 0.7rem;
  text-transform: uppercase;
}

.blog-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.blog-subtitle {
  margin: 0; /*Feb 4th Hye*/
  font-size: 0.7rem;
  text-transform: uppercase;
}
/* =============================== */
/* 2.7 Portfolio */
/* =============================== */
.section__header {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  text-align: center;
  font-family: "ubuntu", Tahoma, Verdana, sans-serif;
  font-weight: light;
}

.section__subtitle {
  padding-top: 0;
  margin-top: 0;
  font-family: "myriad pro", Tahoma, Verdana, sans-serif;
  font-weight: light;
}

.section__title {
  margin-bottom: 0;
}

.section__posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* margin-right: 200px;
  margin-left: 200px; Feb 4th Hye*/
}

.section__post {
  position: relative;
}

.blog-image {
  width: 100%;
  display: block;
}

.blog-date-group {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(216, 96, 95, 0.8);
  color: #fff;
  padding: 10px;
  text-align: center;
  font-family: "ubuntu", Tahoma, Verdana, sans-serif;
  min-width: 60px;
}

.blog-date {
  display: block;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}

.blog-month {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 4px;
}

.blog-text-group {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(25, 178, 222);
  color: #fff;
  padding: 10px;
  font-family: "ubuntu", Tahoma, Verdana, sans-serif;
  text-align: left;
  box-sizing: border-box;
}

.blog-text-group::after {
  content: "";
  position: absolute;
  top: 25%;
  right: 15px;
  width: 28px;
  height: 28px;
  background-color: rgba(27, 27, 27, 0.3);
  border-left: 1px solid rgba(28, 28, 28, 0.3);
}

.blog-title {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  font-family: "ubuntu", Tahoma, Verdana, sans-serif;
}

.blog-subtitle {
  margin: 0;
  font-size: 14px;
  font-family: "myriad pro", Tahoma, Verdana, sans-serif;
}

.section__header {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  text-align: center;
  font-family: "ubuntu", Tahoma, Verdana, sans-serif;
  font-weight: light;
  margin-bottom: 0;
  /* margin-top: 80px; */
}

.section__title {
  margin-bottom: 0;
}

.section__subtitle {
  margin-top: 0;
  margin-bottom: 30px;
}

.section__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* margin-right: 200px;
  margin-left: 200px;  Feb 4th Hye*/
}

.section__card {
  position: relative;
}

.portfolio-image {
  width: 100%;
  display: block;
}
/* =============================== */
/* 2.8 Clients */
/* =============================== */
.section--logos .section__lists {
  max-width: 1000px;
  margin: 0 auto;
}

.section--logos .section__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* GRAY LOGO BOX */
.section--logos .section__item {
  background-color: rgb(244, 241, 241);
  width: 100%;
  height: 100px; /*controls box height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.section--logos .client-logo {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
}

.section--logos {
  padding-bottom: 60px; /* adjust as needed */
} /*Feb 4th Hye*/
/* .client-logo {
  display: block;
  width: 179px;
  margin: 0 auto;
} */
/* =============================== */
/* 2.9 Footer */
/* =============================== */
/* footer-intro */
.site-footer {
  background-color: #0e2e4e;
  color: white;

  /* padding: 0 10rem; */
}

.site-footer__inner {
  margin: 0 10rem;
}

.site-footer__profile {
  display: flex;
  align-items: center;
  padding: 2rem 2rem 0 2rem;
  max-width: 760px;
  gap: 2rem;
}

.footer-profile {
  width: 500px;
}

.footer-divider {
  border: none;
  background-color: #ffb901;
  height: 3px;
  width: 125px;
  margin-top: 0.5rem;
  margin-left: 11.375rem;
}

/* footer grid */
.footer-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1fr;
  gap: 2rem;
  padding: 1.25rem 0;
}

.footer-column-title::after {
  content: "";
  display: block;
  width: 230px; /* Adjust width as needed */
  height: 2px; /* Adjust thickness */
  margin-top: 0.625rem; /* Space between title and line */
  margin-bottom: 1.125rem;
}

.title-about {
  color: #ffb901;
}
.title-about::after {
  background-color: #21c183; /* Choose your color */
}

.title-instagram {
  color: #de6262;
}
.title-instagram::after {
  background-color: #19b2de;
}

.title-mastodon {
  color: #19b2de;
}
.title-mastodon::after {
  background-color: #ffb901;
}

.title-track::after {
  background-color: #19b2de;
}

.footer-column-text,
.mastodon-content {
  margin-bottom: 1.5rem;
}

/* insta */
.instagram-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
}

li {
  list-style: none;
}

/* What's New */
.mastodon-handle {
  color: #1bade6;
}

/* Track Us */
.social-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* hide 'Email Address */
.visually-hidden {
  display: none;
}

.newsletter-form {
  margin-top: 1.25rem;
}

input[type="email"] {
  background-color: #de6262;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #f5b400;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

/* ================== */
/* ===== Responsive ====== */
/* ================== */

@media screen and (max-width: 992px) {
  .site-footer__inner {
    margin: 0 2rem;
  }

  .footer-columns {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "about about about instagram instagram instgram"
      "mastodon mastodon mastodon mastodon track track";
  }

  .footer-about {
    grid-area: about;
  }
  .footer-instagram {
    grid-area: instagram;
  }
  .footer-mastodon {
    grid-area: mastodon;
  }
  .footer-track-us {
    grid-area: track;
  }

  .instagram-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-columns {
    padding: 2.75rem 0;
  }

  .social-list {
    display: flex;
    gap: 6px;
  }
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 992px) and (min-width: 768px) {
}

/* Small only: max-width ~ 639px (mobile) */
@media screen and (max-width: 39.9375em) {
  .site-footer__inner {
    margin: 0 0.25rem;
  }
  .footer-about {
    display: none;
  }
  .footer-instagram {
    display: none;
  }

  .footer-divider {
    margin-left: 10rem;
    margin-top: 1rem;
  }

  .site-footer__profile {
    align-items: flex-start;
  }

  /* .footer-columns {
  padding: 2.75rem 0; 
  } */

  .footer-columns {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin: 1.25rem;
  }
}

/* =============================== */
/* 3. RESPONSIVE */
/* 3.1 Mobile */
/* =============================== */
/*Small only*/
@media screen and (max-width: 39.9375em) {
  /* NAVIGATION */
  .nav-list {
    display: none; /* Stack nav items vertically */
  }

  /*BANNER*/
  .section--banner {
    display: none;
  }
  .banner-list {
    top: auto;
    bottom: 20px; /* Move banner list lower */
    left: 20px;
  }

  .banner-item {
    font-size: 14px;
    padding: 10px 14px;
  }

  .banner-arrow {
    display: none; /* Hide carousel arrows on mobile */
  }

  /* COMPANY INTRO */

  .section--intro .section__inner {
    max-width: 100%;
    margin: 0 auto;
  }
  .section--intro .section__title {
    font-size: 24px; /* was too big */
    font-weight: 400; /* lighter */
    line-height: 1.6;
    color: #333;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
  }

  .section--intro .section__text {
    padding: 0 20px;
  }

  /* SERVICES */
  .section--features {
    padding: 32px 0;
  }
  .section--features .section__inner {
    /* padding-left: 0;
    padding-right: 0;

    max-width: 100%;
    margin: 0; */
    max-width: 100%;
    padding: 0;
  }
  .section--features .section__lists {
    /* grid-template-columns: 1fr; /* Stack service cards */
    /* gap: 20px;
    padding: 0 20px; */
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 0;
  }
  .section--features .section__list {
    display: flex;
    align-items: flex-start;
    /* grid-template-columns: 48px 1fr; */
    gap: 16px;
    text-align: left;
    padding: 20px 0;
  }

  .service-icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    align-self: start;
  }
  .service-text-group {
    display: flex;
    flex-direction: column;
  }

  .service-title {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 6px;
  }

  .service-subtitle {
    margin: 0;
    font-size: 13px;
    color: #555;
    line-height: 1.4;
  }

  /*Blog*/
  .section--feed .section__posts {
    grid-template-columns: 1fr; /* single column */
    gap: 24px;
    margin: 0; /* remove side gaps */
  }

  .section--feed .section__inner {
    padding: 0 16px; /* light breathing room */
  }
  .section__lists {
    margin: 0 50px;
  }

  .section__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .section--feed .section__header {
    margin: 0;
  }

  /*Portfolio*/
  .section--cards {
    padding: 32px 0;
  }

  .section--cards .section__inner {
    max-width: 100%;
    padding: 0 16px;
  }

  /* Stack cards vertically */
  .section--cards .section__cards {
    display: grid;
    grid-template-columns: 1fr; /* single column */
    gap: 24px;
  }

  /* Clients */
  .section--logos {
    display: none;
  }
}

/* =============================== */
/* 3.2 Tablet */
/* =============================== */
/*Medium and up*/
@media screen and (min-width: 40em) {
}
/*Medium only*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  /*Header*/

  .site-header__inner {
    display: flex;
    flex-direction: column;
  }
  /* logo row */
  .site-header__logo {
    padding: 16px 24px;
  }

  .site-header__logo img {
    width: 140px;
    align-self: center;
  }

  /* NAV */
  .site-nav {
    width: 100%;
  }

  .nav-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .nav-item {
    display: flex;
  }

  .nav-link {
    padding: 16px 0;
    font-size: 14px;
  }

  /*Banner*/
  .section--banner {
    display: block;
  }

  .section--banner .section__inner {
    overflow: hidden; /* crop banner */
  }

  /* Crop banner height */
  .banner-image {
    height: 320px; /* adjust if needed */
    object-fit: cover; /*important*/
  }

  /* Remove carousel*/
  .banner-arrow {
    display: none;
  }

  /* Adjust banner text */
  .banner-list {
    top: auto;
    bottom: 32px;
    left: 24px;
  }

  /*Services*/
  .section--features .section__lists {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
  /*Blog*/
  .section--feed {
    padding: 40px 0;
  }

  .section--feed .section__inner {
    padding: 0 24px;
  }

  .section--feed .section__posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  /* First blog post = full width */
  .section--feed .section__post:first-child {
    grid-column: 1 / -1;
  }

  /*Portfolio*/
  .section--cards {
    padding: 40px 0;
  }

  .section--cards .section__inner {
    padding: 0 24px;
  }

  .section--cards .section__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .client-logo {
    width: 100%;
    max-width: 150px;
  }
}
/* =============================== */
/* 3.3 Desktop */
/* =============================== */
/*Large and up*/
@media screen and (min-width: 64em) {
}
/*Large only*/
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}
