/*=====================================================
[Table of Contents]

1. BASE
  1.1 Page Rendering Default
  1.2 Core Styling
  1.3 Typography

2. COMPONENTS
  2.1 Header
  2.2 Navigation
  2.3 Banner
  2.4 Company Intro
  2.5 Services
  2.6 Blog
  2.7 Portfolio
  2.8 Clients
  2.9 Footer

3. RESPONSIVE
  3.1 Mobile
  3.2 Tablet
  3.3 Desktop

=====================================================*/

/* 1. BASE */
/* 1.1 Page Rendering Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 1.2 Core Styling */
html {
  font-size: 16px;
}

:root {
  --green: #009578;
  --yellow: #f5b400;
  --red: #d7263d;
  --blue: #009fdf;
  --darkblue: #004e7c;
}

/* 1.3 Typography */
body {
  font-family: sans-serif;
}

/* 2. COMPONENTS */

/* ============================= */
/* 2.1 Header */
/* ============================= */
/* HEADER AREA */
.site-header {
  /*1st container*/
  background-color: lightblue;
  width: 100%;
  display: flex; /*line children up*/
  /*default flex-direction: row*/
  /*horizontal alignment*/
  justify-content: center; /*push everything to middle side by side*/
}

.site-header__inner {
  /*2nd container*/
  background-color: lightpink;
  width: 100%; /*fit to 1st container*/
  display: grid;
  grid-template-columns: auto 1fr; /*auto: 1st item fit to its content size, 1fr: stretch to fill rest of space*/
  align-items: center;
  max-width: 1024px; /*match banner*/
}

.site-header__logo {
  /*3rd container*/
  display: flex;
  /*vertical alignment*/
  align-items: center;
}

.site-header__logo img {
  width: 60%;
  /*fit 60% to its parent container --> which one? --> .logo*/
}

/* ============================= */
/* 2.2 Navigation */
/* ============================= */
.site-nav {
  /*3rd container*/
  background-color: lightgreen;
  width: 100%;
}
.nav-list {
  /*unorderd list*/
  list-style: none;
  display: grid;
  /*create 5 equal columns*/
  /*ach column gets 1 fraction of available space (20% each)*/
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}

.nav-item {
  /*list items*/
  width: 100%;
}

.nav-link {
  /*links*/
  /* default display: inline(text width only)--> change to block */
  display: block;
  /* Start on a new line
  Stretch to 100% width of their parent */
  width: 100%;
  padding: 23px;
  text-align: center;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

/* Select the .nav-link that is inside
the first .nav-item */
.nav-item:nth-child(1) .nav-link {
  background-color: var(--green);
}
.nav-item:nth-child(2) .nav-link {
  background-color: var(--yellow);
}
.nav-item:nth-child(3) .nav-link {
  background-color: var(--red);
}
.nav-item:nth-child(4) .nav-link {
  background-color: var(--blue);
}
.nav-item:nth-child(5) .nav-link {
  background-color: var(--darkblue);
}

/* ============================= */
/* 2.3 Banner */
/* ============================= */

.section--banner {
  /*1st container*/
  background-color: lightblue;
  width: 100%;
  display: flex;
  justify-content: center;
}
.section--banner .section__inner {
  /*2nd container*/
  background-color: lightpink;
  width: 100%;
  max-width: 1024px;
  position: relative;
}

.banner-image {
  /*3rd container - image*/
  width: 100%;
  height: auto;
  display: block;
}

.banner-list {
  /*3rd container*/
  background-color: lightgreen;
  width: 100%;
  top: 50%;
  left: 40px;
  gap: 12px;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.banner-item {
  /*list items*/
  background-color: white;
  color: #333;
  font-weight: bold;
  position: relative;
  width: max-content;
  padding: 12px 16px; /* padding-top and padding-bottom */
}

.banner-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-item:nth-child(1)::before {
  background-color: var(--darkblue);
}
.banner-item:nth-child(2)::before {
  background-color: var(--yellow);
}
.banner-item:nth-child(3)::before {
  background-color: var(--red);
}

.banner-arrow {
  position: absolute;
  background: white;
  color: #333;
  font-size: 28px;
  border: none;
  border-radius: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 2;
  transition: background 0.2s;
}
.banner-arrow:hover {
  background: #cd3030;
}
.banner-arrow-left {
  left: -60px;
}

.banner-arrow-right {
  right: -60px;
}

/* 2.4 Company Intro */
.section--intro {
  /*1st container*/
  background-color: lightblue;
  display: grid;
  justify-content: center;
  padding: 60px 0; /*padding-top and padding-bottom*/
}
.section--intro .section__inner {
  /*2nd container*/
  background-color: lightpink;
  max-width: 1024px;
  width: 100%;
  display: grid;
  justify-content: center;
}
.section--intro .section__text {
  /*3rd container*/
  background-color: lightgreen;
  text-align: center;
}
.section--intro .section__title {
  /*h1*/
  line-height: 1.4;
  font-size: 28px;
}
.brand-name {
  /*span*/
  color: var(--blue);
}

/* =============================== */
/* 2.5 Services */
/* =============================== */
.section--features {
  /*1st container*/
  background-color: lightblue;
  display: grid;
  justify-content: center;
  padding: 60px 0; /*padding-top and padding-bottom*/
}
.section--features .section__inner {
  /*2nd container*/
  background-color: lightpink;
  max-width: 1024px;
  width: 100%;
  display: grid;
  justify-content: center;
}
.section--features .section__text {
  /*3rd container*/
  background-color: lightgreen;
  text-align: center;
}
.section--features .section__title {
  /*h1*/
  line-height: 1.4;
}
.section--features .section__subtitle {
  /*p*/
  line-height: 1.4;
}

.section--features .section__lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*create 4 equal columns*/
  max-width: 1024px;
  width: 100%;
  gap: 40px;
}

.section--features .section__list {
  /*list items*/
  background-color: white;
  text-align: center;
  padding: 20px;
}

.service-icon {
  width: 80%;
  height: auto;
  margin-bottom: 16px;
}

.service-title {
  font-weight: bold;
  margin-bottom: 12px;
}

.service-description {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}
/* =============================== */
/* 2.6 Blog */
/* =============================== */
.section__post {
  position: relative;
  width: 320px;
  overflow: hidden; /* hides anything that goes outside */
}
.blog-image {
  width: 100%;
  display: block;
}

/*blue rectangle, text overlay*/
.blog-text-group {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 12px 16px;

  background-color: var(--blue);
  color: white;

  position: relative; /* IMPORTANT */
}

.blog-text-group::after {
  content: "";
  position: absolute;

  right: 16px;
  top: 50%;
  transform: translateY(-50%);

  width: 30px;
  height: 30px;

  background-color: var(--darkblue);
}

/*red date badge*/
.blog-date-group {
  position: absolute;
  top: 0.1px;
  left: 0.1px;

  background-color: var(--red);
  color: white;

  padding: 8px 12px;
  text-align: center;
  line-height: 1.1;
}

.blog-date {
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
}

.blog-month {
  font-size: 0.7rem;
  text-transform: uppercase;
}

.blog-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.blog-subtitle {
  font-size: 0.7rem;
  text-transform: uppercase;
}
/* =============================== */
/* 2.7 Portfolio */
/* =============================== */

/* =============================== */
/* 2.8 Clients */
/* =============================== */

/* =============================== */
/* 2.9 Contact */
/* =============================== */

/* =============================== */
/* 2.10 Footer */
/* =============================== */
/* footer-intro */
.site-footer {
  background-color: #0e2e4e;
  color: white;

  /* padding: 0 10rem; */
}

.site-footer__inner {
  margin: 0 10rem;
}

.site-footer__profile {
  display: flex;
  align-items: center;
  padding: 2rem 2rem 0 2rem;
  max-width: 760px;
  gap: 2rem;
}

.footer-profile {
  width: 500px;
}

.footer-divider {
  border: none;
  background-color: #ffb901;
  height: 3px;
  width: 125px;
  margin-top: 0.5rem;
  margin-left: 11.375rem;
}

/* footer grid */
.footer-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1fr;
  gap: 2rem;
  padding: 1.25rem 0;
}

.footer-column-title::after {
  content: "";
  display: block;
  width: 230px; /* Adjust width as needed */
  height: 2px; /* Adjust thickness */
  margin-top: 0.625rem; /* Space between title and line */
  margin-bottom: 1.125rem;
}

.title-about {
  color: #ffb901;
}
.title-about::after {
  background-color: #21c183; /* Choose your color */
}

.title-instagram {
  color: #de6262;
}
.title-instagram::after {
  background-color: #19b2de;
}

.title-mastodon {
  color: #19b2de;
}
.title-mastodon::after {
  background-color: #ffb901;
}

.title-track::after {
  background-color: #19b2de;
}

.footer-column-text,
.mastodon-content {
  margin-bottom: 1.5rem;
}

/* insta */
.instagram-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
}

li {
  list-style: none;
}

/* What's New */
.mastodon-handle {
  color: #1bade6;
}

/* Track Us */
.social-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}

/* hide 'Email Address */
.visually-hidden {
  display: none;
}

.newsletter-form {
  margin-top: 1.25rem;
}

input[type="email"] {
  background-color: #de6262;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #f5b400;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

/* ================== */
/* ===== Responsive ====== */
/* ================== */

@media screen and (max-width: 992px) {
  .site-footer__inner {
    margin: 0 2rem;
  }

  .footer-columns {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "about about about instagram instagram instgram"
      "mastodon mastodon mastodon mastodon track track";
  }

  .footer-about {
    grid-area: about;
  }
  .footer-instagram {
    grid-area: instagram;
  }
  .footer-mastodon {
    grid-area: mastodon;
  }
  .footer-track-us {
    grid-area: track;
  }

  .instagram-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-columns {
    padding: 2.75rem 0;
  }

  .social-list {
    display: flex;
    gap: 6px;
  }
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 992px) and (min-width: 768px) {
}

/* Small only: max-width ~ 639px (mobile) */
@media screen and (max-width: 39.9375em) {
  .site-footer__inner {
    margin: 0 0.25rem;
  }
  .footer-about {
    display: none;
  }
  .footer-instagram {
    display: none;
  }

  .footer-divider {
    margin-left: 10rem;
    margin-top: 1rem;
  }

  .site-footer__profile {
    align-items: flex-start;
  }

  /* .footer-columns {
  padding: 2.75rem 0; 
  } */

  .footer-columns {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin: 1.25rem;
  }

  .footer-color-bar {
    width: 100%;
    margin: auto;
  }
}

/* =============================== */
/* 3. RESPONSIVE */
/* 3.1 Mobile */
/* =============================== */
/*Small only*/
@media screen and (max-width: 39.9375em) {
  /* NAVIGATION */
  .nav-list {
    display: none; /* Stack nav items vertically */
  }

  /*BANNER*/
  .section--banner {
    display: none;
  }
  .banner-list {
    top: auto;
    bottom: 20px; /* Move banner list lower */
    left: 20px;
  }

  .banner-item {
    font-size: 14px;
    padding: 10px 14px;
  }

  .banner-arrow {
    display: none; /* Hide carousel arrows on mobile */
  }

  /* COMPANY INTRO */
  .section--intro .section__title {
    font-size: 20px;
  }

  .section--intro .section__text {
    padding: 0 20px;
  }

  /* SERVICES */
  .section--features .section__lists {
    grid-template-columns: 1fr; /*stacks feature cards*/
    gap: 20px;
    padding: 0 20px;
  }

  .section--features .section__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 15px 0; /*padding-top and padding-bottom*/
    gap: 10px;
    border-bottom: 1px solid #ddd;
  }

  .service-icon {
    width: 20%;
    margin-bottom: 0;
  }

  .section--features .section__lists .section__title {
    margin: 0;
    font-size: 14px;
  }
  .section--features .section__lists .service-text-group {
    display: flex;
    flex-direction: column;
  }
  .section--features .section__lists .section__subtitle {
    font-size: 13px;
    margin: 4px 0 0; /*--> top, bottom, left/right*/
    line-height: 1.4;
  }
}

/* =============================== */
/* 3.2 Tablet */
/* =============================== */
/*Medium and up*/
@media screen and (min-width: 40em) {
}
/*Medium only*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
}
/* =============================== */
/* 3.3 Desktop */
/* =============================== */
/*Large and up*/
@media screen and (min-width: 64em) {
}
/*Large only*/
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}
